{{!-- <h3>加入新的餐廳</h3>
<form action="/restaurants" method="POST">
  <ul>
    <li>
      <label for="name">名稱</label>
      <input type="text" name="name" id="name">
    </li>
    <li>
      <label for="category">類型</label>
      <input type="text" name="category" id="category">
    </li>
    <li>
      <label for="image">圖片網址</label>
      <input type="text" name="image" id="image">
    </li>
    <li>
      <label for="location">地址</label>
      <input type="text" name="location" id="location">
    </li>
    <li>
      <label for="phone">電話</label>
      <input type="text" name="phone" id="phone">
    </li>
    <li>
      <label for="google_map">google map網址</label>
      <input type="text" name="google_map" id="google_map">   
    </li>
    <li>
      <label for="rating">評分</label>
      <input type="text" name="rating" id="rating">
    </li>
    <li>
      <label for="description">介紹</label>
      <input type="text" name="description" id="description">
    </li>
  </ul>
  <button type="submit">Create</button>
</form> --}}



<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">加入新的餐廳</h1>
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="name">名稱</label>
          <input type="text" name="name" id="name" placeholder="請輸入餐廳名稱">
        </div>
        <div class="mb-3">
          <label for="category">類型</label>
          <input type="text" name="category" id="category" placeholder="請輸入餐廳類型">
        </div>
        <div class="mb-3">
          <label for="image">圖片網址</label>
          <input type="text" name="image" id="image" placeholder="請輸入餐廳圖片網址">
        </div>
        <div class="mb-3">
          <label for="location">地址</label>
          <input type="text" name="location" id="location" placeholder="請輸入餐廳地址">
        </div>
        <div class="mb-3">
          <label for="phone">電話</label>
          <input type="text" name="phone" id="phone" placeholder="請輸入餐廳電話">
        </div>
        <div class="mb-3">
          <label for="google_map">google map網址</label>
          <input type="text" name="google_map" id="google_map" placeholder="請輸入餐廳google map網址">   
        </div>
        <div class="mb-3">
          <label for="rating">評分</label>
          <input type="text" name="rating" id="rating" placeholder="請輸入餐廳評分">
        </div>
        <div class="mb-3">
          <label for="description">介紹</label>
          <textarea name="description" id="description" rows="4" cols="50" placeholder="請輸入介紹文字"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>